{% extends 'index.html' %}

{% block body %}

<div id="create-user">

  <div id="create-user-title">
    <h5>CREATE USER</h5>
  </div>

  <form id="create-user-form" method="POST" action="createuser">
    <div class="create-user-form-group">
      <input type="text" class="create-user-form-control" name="userid" id="userIdInput" placeholder="Enter User ID">
    </div>
    <div class="create-user-form-group">
      <input type="text" class="create-user-form-control" name="username" id="usernameInput"
        placeholder="Enter Username">
    </div>
    <button id="create-user-button" type="submit">ENTER</button>
  </form>

</div>

{% endblock %}